
a:link{
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

body {
  margin: 0;
}

#blur{
  background: rgba(0,0,0,0.05);
  height: 100%;
}

#header_1 {
  width: 100%;
  background: url("images/background.jpg") center no-repeat;
  padding: 0;
  margin-top: 0;
  height: 100vh;
}

.titles{
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}


#top{ 
  padding: 0;
  height: 100vh;
}

#my_name {
  font-family: 'Roboto Condensed', cursive;
  display: inline-block;
  border-radius: 7px;
  padding-top: 27px;
  padding-bottom: 0px;
  font-size: 88px;
  color: teal;
  margin-top: 10px;
}

#subtitle {
  font-family: 'Roboto Condensed', cursive;
  display: inline-block;
  padding: 5px;
  color: #FFEB99;
  font-size: 39px;
  margin-top: 60px;
}

.buttons {
  font-family: 'Roboto Condensed', cursive;
  display: inline-block;
  border-radius: 7px;
  border: 2px solid;
  padding: 10px;
  font-size: 30px;
  margin-top: 80px;
  color: teal;
  font-color: teal;
  text-decoration: none;
}

.buttons:hover {
    background: rgba(0, 128, 128, 0.20);
}

#educ_button { 
  margin-left:40px;
}

#about_button{
  margin-right: 40px;
}

.footer {
  position:absolute;
  right: 5px;
  bottom: 5px;
  color: white;
}

#icons {
  position: absolute;
  bottom: 5px;
  text-align: center;
  width: 100%;
}

#topbar {
  height: 150px;
  width: 100%;
  display: table;
  vertical-align: middle;
  background: url("images/background.jpg") center;
}

#about_body{
  background: #FFFFC2;
  height: 100vh;
  width: 100%;
}

.bar_buttons {
  width: 150px;
  display: block;
  vertical-align: middle;
  text-align: center;
  border-radius: 7px;
  border: 2px solid;
  font-size: 35px;
  font-family: 'Roboto Condensed', cursive;
  color: teal;
  position: absolute;
  top: 50px;
}

#name_logo{
  display: block;
  text-align: center;
  border-radius: 25px;
  padding: 10px;
  width: 100px;
  margin-top: 35px;
  margin-left: 35px;
  border: 2px solid;
  color: teal;
  background-color: #FFEB99;
  font-size: 35px;
  font-family: 'Roboto Condensed', cursive;
}

.bar_buttons:hover {
  background: rgba(0, 128, 128, 0.20)
}

#aboutPg_about{ 
  right:250px;
}

#aboutPg_hobbies {
  right:50px;
}