#body {
}

/* index.html */

#allContent {
	/*height: 2000px;*/
}

#mainContainer {
	width: 100%;
	height: 100vh;
	background-color: lightslategrey;
	background-image: url("../images/tcRocks.jpg");
	background-attachment: fixed;
	background-size: 130% 100%;
	background-position: 50% 0;
}

#name {
	font-size: 50px;
}
#title {
	margin: 10px 0;
	font-family: 'PT Sans', sans-serif;
}

#mainShade {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2);
	display: table;
}

#contentContainer {
	height: 200px;
	width: 100%;
	display: table-cell;
	vertical-align: middle;
}

#content {
	font-family: 'PT Sans', sans-serif;
	text-align: center;
	color: white;
	width: 60%;
	margin: 0 auto;
}

#links {
	font-family: 'Quicksand', sans-serif;
	font-size: 25px;
}

.mainLink {
	display: inline-block;
	width: 150px;
	margin: 0 auto;
}

.hr {
	background-color: white;
	width: 85%;
	margin-top: 0;
	margin-bottom: 10px;
}

#introContainer {
	width: 100%;
	height: 400px;
	background-color: white;
	color: black;
	display: table;
	border-top: 3px solid;
	border-bottom: 3px solid;
	border-color: black
}

#introTextContainer {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

#introText {
	margin-top: 0;
}

#topContainer {
	position: fixed;
	bottom: 20px;
	right: 25px;
	display: none;
}
#topText {
	color: gray;
}

/* fun.html */

#navbar {
	background-color: lightslategrey;
	color: white;	
	position:fixed;
	top:0px;
	width:100%; 
	height:51px;
	z-index:9999;
	display: none;
}

#navCollapse {
	z-index:9999;
	background-color: lightslategrey;
}

#navButton {
	background-color: inherit;
	color: white;
	border: 0;
}
.icon-bar {
	background-color: white!important;
}

#navBrand {
	font-family: 'PT Sans', sans-serif;
	color: white;
}

.navbarLinks {
	color: white;
	font-family: 'Quicksand', sans-serif;	
}

#funContent {
	margin-top: 50px;
	padding-top: 15px;
	height: 1500px;
}

#sideNav {
	float:left;
	width: 15%;
}

.sideNavLinkContainers {
	width: 100%;
	text-align: center;
	padding-top: 10px;
}

#funMain {
	margin-left: 15%;
	padding-left: 10%;
	border-left: 1px solid;
	border-left-color: black;
}

.funTitles {
	margin-top: 0;
}

.photoContainer {
}

.funPictures {
	display: inline-block;
	height: 80px;
	width: 150px;
	margin: 10px 10px;
}


/* Media Queries */

@media (min-width: 768px) {
	#name {
		font-size:75px;
	}
	#mainContainer {
		background-size: 100% 100%;
	}
	#content {
		width: 90%;
	}
	#links {
		font-size: 40px;
	}
	.mainLink {
		margin: 0 35px 0 0;
	}
}


/* Link Styling */
.mainLink:link{
  text-decoration: none;
  color: inherit;
}
.mainLink:visited {
  color: inherit;
}
.mainLink:hover{
	text-decoration: none;
	color: rgba(255,255,255,0.75);
}
.mainLink:active{
	color: inherit;
}

.navbar-default .navbar-nav > li > a {
	color: white;
	font-size: 15px;
}
.navbarLinks:link{
  text-decoration: none;
  color: white;
}
.navbarLinks:visited {
  color: white;
}
.navbarLinks:hover{
	text-decoration: none;
	color: rgba(255,255,255,0.75);
}
.navbarLinks:active{
	color: white;
}

.sideNavLinks:link{
  text-decoration: none;
  color: inherit;
}
.sideNavLinks:visited {
  color: inherit;
}
.sideNavLinks:hover{
	text-decoration: none;
	color: rgba(229,0,0,0.9);
}
.sideNavLinks:active{
	color: inherit;
}
