#body {
	height: 100vh;
}

#mainContainer {
	width: 100%;
	height: 100vh;
	background-image: url("../images/tcRocks.jpg");
	background-size: 130% 100%;
	background-position: 50% 0;
}

#name {
	font-size: 50px;
}

#mainShade {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2);
	display: table;
}

#contentContainer {
	height: 200px;
	width:90%;
	display: table-cell;
	vertical-align: middle;
}

#content {
	font-family: 'PT Sans', sans-serif;
	text-align: center;
	color: white;
}

#links {
	font-family: 'Quicksand', sans-serif;
	font-size: 25px;
}

.hr {
	background-color: white;
	width: 85%;
	margin-top: 0;
	margin-bottom: 10px;
}

/* Media Queries */

@media (min-width: 768px) {
	#name {
		font-size:75px;
	}
	#mainContainer {
		background-size: 100% 100%;
	}
	#contentContainer {
		width: 60%;
	}
	#links {
		font-size: 40px;
	}
}




/* Link Styling */
a:link{
  text-decoration: none;
  color: inherit;
}
a:visited {
  color: inherit;
}
a:hover{
	text-decoration: none;
	color: rgba(255,255,255,0.75);
}
a:active{
	color: inherit;
}
